.button {
    background-color: black;
    display: grid;
    align-items: center;
    width: 20%
}
.search {
    display: flex;
    width: 30%;
    margin: 0 auto;
}
.unvalid-input {
    border: 1px solid red;
}
.input {
    width: 80%;
}